
<link href="~/Areas/Backend/Content/Css/Timeline.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-6">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#teams"><b> Teams </b></a> </li>
            <li><a data-toggle="tab" href="#projects"><b> Projects </b></a></li>
            <li><a data-toggle="tab" href="#collobrators"><b> Collobrator </b></a></li>
        </ul>
        <div class="tab-content">
            <div id="teams" class="tab-pane panel-body fade in active">
                <ul id="list-group-teams" class="list-group">
                    @foreach (var item in ViewData["Teams"] as List<IssueTracker.Models.Team>)
                    {
                        <li class="list-group-item"><a href="/Backend/Team/Details/@item.ID">@item.Name</a></li>
                    }
                </ul>
                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#team-modal"><i class="glyphicon glyphicon-plus"></i> Create</button>
            </div>

            <div id="projects" class="tab-pane panel-body">
                <ul id="list-group-projects panel-body" class="list-group">
                    @foreach (var item in ViewData["Projects"] as List<IssueTracker.Models.Project>)
                    {
                        <li class="list-group-item"><a href="/Backend/Project/Details/@item.ID">@item.Name <span class="label label-default pull-right">@item.Team.Name</span></a></li>
                    }
                </ul>
                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#project-modal"><i class="glyphicon glyphicon-plus"></i> Create</button>
            </div>
            <div id="collobrators" class="tab-pane panel-body">
                <ul id="list-group-collobrators panel-body" class="list-group">
                    <li class="list-group-item"><a>Murat Çelik</a> </li>
                    <li class="list-group-item"><a>Şevket Yılmaz</a> </li>
                </ul>
                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#collobrators-modal"><i class="glyphicon glyphicon-plus"></i> Create</button>
            </div>
        </div>

        <hr>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#states"><b> States </b></a> </li>
            <li><a data-toggle="tab" href="#types"><b> Types </b></a></li>
            <li><a data-toggle="tab" href="#priority"><b> Priorities </b></a></li>
        </ul>
        <div class="tab-content">
            <div id="states" class="tab-pane panel-body fade in active">

                <ul id="list-group-states" class="list-group">
                    @foreach (var item in ViewData["States"] as List<IssueTracker.Models.State>)
                    {
                        <li class="list-group-item"><a>@item.Name</a> <label class="pull-right label  @{if (item.IsResolved == true) { Write(" label-success"); } else { Write("label-default"); } } ">Resolved</label> </li>
                    }
                </ul>
                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#state-modal"><i class="glyphicon glyphicon-plus"></i> Create</button>

            </div>

            <div id="types" class="tab-pane panel-body">
                <ul id="list-group-types" class="list-group">
                    @foreach (var item in ViewData["Types"] as List<IssueTracker.Models.Type>)
                    {
                        <li class="list-group-item"><a>@item.Name</a> </li>
                    }
                </ul>
                <button class="btn btn-circle  btn-success btn-xs" data-toggle="modal" data-target="#type-modal"><i class="glyphicon glyphicon-plus"></i> Create</button>
            </div>

            <div id="priority" class="tab-pane panel-body">
                <ul id="list-group-priorities" class="list-group">
                    @foreach (var item in ViewData["Priorities"] as List<IssueTracker.Models.Priority>)
                    {
                        <li class="list-group-item"><a>@item.Name</a>  <label class="pull-right label" style="background-color:@item.Color">@item.Color</label></li>
                    }
                </ul>
                <button class="btn btn-circle  btn-success btn-xs" data-toggle="modal" data-target="#priority-modal"><i class="glyphicon glyphicon-plus"></i> Create</button>
            </div>
        </div>

        <hr />

        <div class="panel panel-default">
            <div class="panel-heading">
                <span> Buttons </span>
                <i class="glyphicon glyphicon-plus pull-right"></i>
            </div>
            <div class="panel-body">
                <button onclick="displaySuccess()">Display Success</button>
                <button onclick="displayFailed()">Display Failed</button>
                <button onclick="displayMessage('My Message')">Display Message</button>
                <button onclick="startLoading('My Message')">Start Loading</button>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Activity
            </div>
            <div class="panel-body">
                <!-- Timeline -->
                <div class="timeline">

                    <!-- Line component -->
                    <div class="line text-muted"></div>
                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>26. 3. 2015</time>
                    </div>
                    <!-- /Separator -->
                    <!-- Panel -->
                    <article class="panel panel-danger panel-outline">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-heart"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Body -->
                        <div class="panel-body">
                            <strong>Someone</strong> favourited your photo.
                        </div>
                        <!-- /Body -->

                    </article>

                    <!-- /Panel -->
                    <!-- Panel -->
                    <article class="panel panel-default panel-outline">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-picture"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Body -->
                        <div class="panel-body">
                            <img class="img-responsive img-rounded" src="//placehold.it/350x150" />
                        </div>
                        <!-- /Body -->

                    </article>
                    <!-- /Panel -->
                    <!-- Panel -->
                    <article class="panel panel-primary">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title">New content added</h2>
                        </div>
                        <!-- /Heading -->
                        <!-- Body -->
                        <div class="panel-body">
                            Some new content has been added.
                        </div>
                        <!-- /Body -->
                        <!-- Footer -->
                        <div class="panel-footer">
                            <small>Footer is also supported!</small>
                        </div>
                        <!-- /Footer -->

                    </article>
                    <!-- /Panel -->
                    <!-- Separator -->
                    <div class="separator text-muted">
                        <time>25. 3. 2015</time>
                    </div>
                    <!-- /Separator -->
                    <!-- Panel -->
                    <article class="panel panel-success">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-plus"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Heading -->
                        <div class="panel-heading">
                            <h2 class="panel-title">New content added</h2>
                        </div>
                        <!-- /Heading -->
                        <!-- Body -->
                        <div class="panel-body">
                            Anything you can do with <code>.panel</code>, can be done in timeline too!
                        </div>
                        <!-- /Body -->
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">Like</li>
                            <li class="list-group-item">list</li>
                            <li class="list-group-item">groups</li>
                            <li class="list-group-item">and</li>
                            <li class="list-group-item">tables</li>
                        </ul>

                    </article>
                    <!-- /Panel -->
                    <!-- Panel -->
                    <article class="panel panel-info panel-outline">

                        <!-- Icon -->
                        <div class="panel-heading icon">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </div>
                        <!-- /Icon -->
                        <!-- Body -->
                        <div class="panel-body">
                            That is all.
                        </div>
                        <!-- /Body -->

                    </article>
                    <!-- /Panel -->

                </div>
                <!-- /Timeline -->
            </div>

        </div>
    </div>
</div>

@Html.Partial("~/Areas/Backend/Views/Manager/_Modals.cshtml");
