@model IssueTracker.Models.Project

<h4 style="border-bottom:1px solid #ddd; padding-bottom:3px;">
    @Model.Name
</h4>

<div class="row">
    <div class="col-lg-3">
        <table class="table table-bordered table-condensed table-striped">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>@Model.Name </td>
                </tr>
                <tr>
                    <th>Team</th>
                    <td>@Model.Team.Name </td>
                </tr>
                <tr>
                    <th>User Create</th>
                    <td>@Model.UserCreated.Fullname()  @Model.DateTimeCreated.ToString()</td>
                </tr>
                <tr>
                    <th>User Update</th>
                    <td>@Model.UserUpdated.Fullname()  @Model.DateTimeUpdated.ToString()</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>@Model.Description </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Boards
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var item in Model.Boards)
                    {
                        <li class="list-group-item"><a href="#">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Tags
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    @foreach (var item in Model.Tags)
                    {
                        <li class="list-group-item"><a href="#">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-6">
        dasd
    </div>
</div>
